<header class="container p-0">
    <div class="row align-items-center">
      <div class="col-md-2 d-flex justify-content-center">
        <a class="nav-link" href="#">
          <img src="imgs/image-logo.svg" height="40" alt="AquaSense" />
<img src="imgs/image-logo-text.svg" height="40" alt="AquaSense" />
        </a>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="d-flex align-items-center mx-4">
          <img src="<%= user.image %>" alt="Imagem de perfil" class="mr-2 rounded-circle" />
          <div class="ms-2">
            <h5 class="pt-3 mb-auto"><%=user.name%></h5>
            <p class="text-primary">Admin</p>
          </div>
        </div>
        <nav class="navbar">
              <a class="nav-link nav__btn btn btn-primary <%= (url === "/home") ? 'active' : '' %>  mx-1" href="/home"><i class="fas fa-home"></i> Início</a>
              <a class="nav-link nav__btn btn btn-primary <%= (url === "/dados") ? 'active' : '' %> mx-1" href="/dados"><i class="fas fa-chart-line"></i> Dados</a>
              <a class="nav-link nav__btn btn btn-primary <%= (url === "/configuracoes") ? 'active' : '' %> mx-1" href="/configuracoes"><i class="fas fa-cog"></i> Configurações</a>
              <a class="nav-link nav__btn btn btn-primary mx-1" href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </nav>
      </div>
    </div>
  </header>
  