<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include ("partials/flash_message.ejs") %>
<div class="container">
  <div class="row modal__main shadow-none p-4">
    <div class="col-md-6 container-canvas">
      <div class="modal__graphic__canvas p-2"><canvas class="rounded" id="myChartPH"></canvas></div>
      <div class="modal__graphic__canvas p-2"><canvas class="rounded" id="myChartOxigenacao"></canvas></div>
      <div class="modal__graphic__canvas p-2"><canvas class="rounded" id="myChartTemperatura"></canvas></div>
      <div class="modal__graphic__canvas p-2"><canvas class="rounded" id="myChartAmonia"></canvas></div>
      <div class="modal__graphic__canvas p-2"><canvas class="rounded" id="myChartVolume"></canvas></div>
      <div class="modal__graphic__canvas col-6 mx-auto">
        <a href="/cadastroTanque"><button class="btn btn-primary button__large">Ver Tanques</button></a>
        <a href="/cadastroPeixe"><button class="btn btn-primary button__large">Ver Peixes</button></a>
        <a href="/pdf"><button class="btn btn-primary button__large">Gerar Pdf</button></a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/foot.ejs') %>

<!-- Importing Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const phSensorData = <%- JSON.stringify(ph) %>;
    const oxigenacaoSensorData = <%- JSON.stringify(oxigenacao) %>;
    const temperaturaSensorData = <%- JSON.stringify(temperatura) %>;
    const amoniaSensorData = <%- JSON.stringify(amonia) %>;
    const volumeSensorData = <%- JSON.stringify(volume) %>;

    const createChart = (ctx, data, label, borderColor, backgroundColor) => {
      const dataLabels = data.map(entry => new Date(entry.data).getDate());
      const dataValues = data.map(entry => entry.valor);

      new Chart(ctx, {
        type: 'line',
        data: {
          labels: dataLabels,
          datasets: [{
            label: label,
            data: dataValues,
            borderColor: borderColor,
            backgroundColor: backgroundColor,
            borderWidth: 2,
            tension: 0.4,
            fill: true
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: { display: true, position: 'top' },
            title: { display: true, text: `${label} ao longo dos dias` }
          },
          scales: {
            x: { display: true, title: { display: true, text: 'Dia' } },
            y: { display: true, beginAtZero: true, title: { display: true, text: `Valor de ${label}` } }
          }
        }
      });
    };

    createChart(document.getElementById('myChartPH').getContext('2d'), phSensorData, 'pH', 'rgba(75, 192, 192, 1)', 'rgba(75, 192, 192, 0.2)');
    createChart(document.getElementById('myChartOxigenacao').getContext('2d'), oxigenacaoSensorData, 'Oxigenação', 'rgba(153, 204, 255, 1)', 'rgba(153, 204, 255, 0.5)');
    createChart(document.getElementById('myChartTemperatura').getContext('2d'), temperaturaSensorData, 'Temperatura', 'rgba(255, 153, 102, 1)', 'rgba(255, 204, 153, 0.5)');
    createChart(document.getElementById('myChartAmonia').getContext('2d'), amoniaSensorData, 'Amônia', 'rgba(102, 204, 102, 1)', 'rgba(153, 255, 153, 0.5)');
    createChart(document.getElementById('myChartVolume').getContext('2d'), volumeSensorData, 'Volume', 'rgba(102, 153, 255, 1)', 'rgba(153, 204, 255, 0.5)');
  });
</script>
