<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    <!-- <h1>Bem-vindo, Teste!</h1>
    <li>Usuário: <%= user ? user.name : 'N/A' %></li>
    <h2>Sensores</h2>
    <ul>
        <li>Temperatura: <%= temperatura ? temperatura.valor : 'N/A' %></li>
        <li>Amônia: <%= amonia ? amonia.valor : 'N/A' %></li>
        <li>Oxigenação: <%= oxigenacao ? oxigenacao.valor : 'N/A' %></li>
        <li>pH: <%= ph ? ph.valor : 'N/A' %></li>
        <li>volume: <%= volume ? volume.valor : 'N/A' %></li>
    </ul> -->
<%- include('partials/foot.ejs') %>
